/* * CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background: linear-gradient(to top, #7BC6CC, #BE93C5); 
    box-shadow: whitesmoke;
}
#brand {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}
#brand > #logo {
   
    margin-left: 1.5rem;
    font-size: 2rem;
    margin-right: 0.5rem;
}

#links-container {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
}

#links-container > a {

    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: none;
    color: #0D676F;
}
main {
    display: flex;
    text-align: center;
    height: 85vh;
}

#main-content > h1 {
    font-size: 3rem;
    margin-top: 5px;
    color: #f64f59; 
}
main > #side-nav {
    display: flex;
    flex-direction:column;
    width: 15%;
    line-height: 4rem;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #7BC6CC, #BE93C5); 

}

main > #side-nav > a{
text-decoration: none;
color: #f64f59; 

}

main > #main-content{
 width: 90vw;
 background: linear-gradient(to bottom, #7BC6CC, #BE93C5); 
}

#main-content > section {
    margin: 10px;
	display: flex;
    justify-content: space-around;
    margin-top: 1rem;;
}

img {
    width: 250px;
    height: 200px;
    transition: all 1s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    padding: 0.7rem;

    font-size: 1.2em;
    background: linear-gradient(to top, #7BC6CC, #BE93C5); 
}